TELEGRAM_BOT_TOKEN="8753921039:AAHE8GjqHJGU3lH_XJFf7Mgud_897Civ4NI"
TELEGRAM_CHAT_ID="ashroot_bot"
GEMINI_API_KEY="AIzaSyD6Rk8TlbjbWhgFv4qEqzeUuwhfbIwRalc"
NODE_ENV="development"
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_UMAMI_SRC="your-umami-script-url"
NEXT_PUBLIC_UMAMI_ID="your-umami-website-id"F